
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat:ital@0;1&display=swap');

.sr-only {
  border: 0; 
  clip: rect(0,0,0,0);
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  background:black; 
  color: #ffff;
  font-weight: 700; 
  padding: 4px; 
  position: absolute; 
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(-100%);
}

.skip-link {
  transition: transform -0.3s; 
}

*:before, 
*:after {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

.container {
  max-width: 1100px; 
  margin: 0 auto; 
}

body {
    background: #F2DAD8;
    font-family: "Montserrat", sans-serif; 
    font-size: 1.5em; 
}

.navi {
  background-color: #BFA4BB;
  display: flex;
  list-style-type: none;
  padding: 10px 40px 10px 40px;
  margin: 0;
  font-family: "Montserrat", sans-serif; 
  color: #323159; 
  font-size: 1em;
  text-decoration: none;
}

.navi ul {
  background-color: #BFA4BB;
  border: 1px solid tra;
  border-top-width: 5px;
  border-radius: 0 0 4px 4px;
  display: block;
  list-style-type: none;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: absolute;
  top: 100%;
}

.navi li {
  margin: 0;
}

.navi > li {
  display: flex;
  position: relative;
}

.navi li a:hover, 
.navi li a:focus {
  background-color: #f2d9e5;
  color:#323159;
  margin-bottom: 0;
  text-decoration: none;
}

.navi ul a {
  border: 0;
  color: white;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: underline;
}

.navi ul a:hover,
.navi ul a:focus {
  background-color: white;
  color:#323159;
  margin-bottom: 0;
  text-decoration: none;
}

.navi ul a:focus {
  outline: 5px solid #BFA4BB;
  position: relative;
}

.navi button,
.navi .main-link {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-right-color: #BFA4BB;
  display: flex;
  padding: 10px 40px 10px 40px;
  font-family: "Montserrat", sans-serif; 
  color: white; 
  font-size: 1em;
}

.navi .main-link {
  border-right-color: transparent;
}

.navi button::after {
  content: "";
  border-bottom: 1px solid #BFA4BB;
  border-right: 1px solid #BFA4BB;
  height: 0.5em;
  margin-left: 0.75em;
  width: 0.5em;
  transform: rotate(45deg);
}

.navi .main-link + button::after {
  margin-left: 0;
}

.navi button:focus,
.navi .main-link:focus {
  border-color: #BFA4BB;
  outline: 5px solid rgba(238, 238, 255, 0.75);
  position: relative;
}

.navi button:hover,
.navi button[aria-expanded="true"] {
  background-color: white;
  color: #BFA4BB;
}

.navi button:hover::after,
.navi button[aria-expanded="true"]::after {
  border-color: white;
}


img {
  padding: .3em; 
  margin: 3%;
  display: block;
  float: left;
}

.catbox {
  float: right; 
  max-width: 95%; 
}


h1, 
h2, 
h3 {
    font-family: 'Didot', sans-serif;
    font-weight: 700; 
    font-size: .2em 0;
    padding: .5em 0em .5em 0em;
    color: #22213e;
}


p {
  margin: 1.8em 0;
}

h2 {
  font-size: 2.5em;
  padding: 0em 0em 0em 1.1em; 
}

.head {
  padding: 0; 
  font-size: 2em;
}

header, 
main, 
aside,
footer {
    padding: 1.5em;
}

header, footer {
  text-align: center; 
}

.container{
  max-width: 1200 px; 
  margin: 0 auto; 
  background: #BFA4BB;
  display: grid; 
  width: 100 vw; 
  height: 100 vh; 
  grid-template-columns: 
   1fr    2fr     1fr; 
  grid-template-areas: 
  "header1    header1 header1"
  "nav1   nav1    nav1"
  "main1 main1   main1"
  "main1 main1   main1"
  "footer1    footer1 footer1"
}

header {
  grid-area: header1;
  color: #fac632;
  font-size: 1.5em;
}

nav {
  grid-area: nav1;
  color: white; 
}

main {
  grid-area: main1;
  max-height: 100%;
  color: white; 
}

footer {
  grid-area: footer1;
  color: white;
}

a {
  color:white; 
  font-family: "Montserrat", sans-serif; 
  color: white; 
  font-size: 1em;
  text-decoration: none;
  padding: 10px 20px 0 20px;
}

.normalLink {
  color: white; 
  font-family: "Montserrat", sans-serif; 
  color: #fac632;
  text-decoration: underline; 
  padding: 0; 
}

table, th, td {
  border-collapse: collapse;
}
table {
  margin-bottom: 30px; 
}
td {
  border: 2px solid black;
  padding: 7px; 
  text-align: center;
}

tr {
  font: bold;
}



@media screen 
    and (min-width: 641px)
    and(maxwidth: 640px) {
        .container {
            grid-template-columns: 
             1fr    1fr;
        
            grid-template-areas: 
            "header1 header1"
            "nav1 nav1"
            "main1 main1"
            "footer1 footer1"
        }
    }

  table, th, td {
      border-collapse: collapse;
  }
  table {
      margin-bottom: 30px; 
  }
  td {
      border: 2px solid black;
      padding: 7px; 
      text-align: center;
  }
  
  tr {
      font: bold;
  }
  

@media screen
    and (max-width: 640px) {

        .container {
            max-width: 100%; 
            grid-template-columns: 
            1fr;

            grid-template-areas:
                "header1"
                "nav1"
                "main1"
                "footer1"
        }

        p {
          max-width: 90%;
        }

        nav {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .navi {
          max-width: 90%; 
          padding: 0; 
          flex-direction: column; 
        }

        header, footer {
          text-align: left; 
        }

        h1 {
          max-width: 80%; 
        }

        h2 {
          text-align: left; 
          padding: 0; 
        }

        img {
          padding: .3em; 
          margin: 3%;
          display: block;
          float: center;
        }

        .navi button,
        .navi .main-link {
            padding: 10px 10px 10px 18px;
        }
    }