@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona&family=Urbanist:wght@100&display=swap');

body{
    background-color: #d8f2e9;
    font-family: 'Petrona', serif;
    color: #212426;
}
p{
    line-height: 1.4em;
}
.container{
    max-width:960px;
    margin:0 auto 0 auto;
}
ul,p{
    font-family: 'Urbanist', sans-serif;

}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: double;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
  }