body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFF6EF;
}

header {
    background-color: #F2E0D5;
    color: #000000;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #F2C4B3;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    color: #F0F2F0;
}

section {
    padding: 40px;
    margin: 20px 0;
}

footer {
    background-color: #DFF2ED;
    color: #000000;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  