@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: .2em 0;
    background-color: #FFF6EF;
}
h1{
    font-size: 60px;
}
header {
    font-family: 'Didot', sans-serif;
    background-color: #F2E0D5;
    color: #000000;
    text-align: center;
    padding: 20px;
}

nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2C4B3;
    padding:0;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    color: #F0F2F0;
}

section {
    padding: 40px;
    margin: 20px 0;
}

footer {
    font-family: 'Didot', sans-serif;
    background-color: #DFF2ED;
    color: #000000;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    body {
        margin: 0; 
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
    .what{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        

    }
    img{
    width: 100%;
    height: 100%;
    }
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .why{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .2em 0;
   
  }
  .what{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .2em 0;
    
    
  }
  .how{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .2em 0;
  }
  .center {
    text-align: center;
    list-style-position: inside;
    margin-left: 80px;
    margin-right: 80px;
    padding: .2em 0;
    
  }
  .center1 {
    text-align: center;
    list-style-position: inside;
    margin-left: 80px;
    margin-right: 80px;
    padding: .2em 0;
    
  }
  .center3 {
    text-align: center;
    list-style-position: inside;
    margin-left: 80px;
    margin-right: 80px;
    padding: .2em 0;

    
  }
  .center2 {
    text-align: center;
    list-style-position: inside;
    margin-left: 80px;
    margin-right: 80px;
    padding: .2em 0;
    
  }
 .navvy{
    background-color: #F2E0D5;
    color: #000000;
    text-align: center;
    padding: 20px;
 }

 .wtf{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

 }

 a:hover{
    color:#000000;
 }
 a{
    color:#05242a;
 }

 ul {
    list-style-position: inside;
    text-align: center;
  }
  ol {
    list-style-position: inside;
    text-align: center;
  }
 



