html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4F7F5;
    padding: 30px;
}
nav {
    padding: 2em;
    /* position: sticky; */
    top:0;
    background-color: #F4F7F5;
    } 
nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      font-size: 26px;
    }
nav a {
    color: #333333;
    text-decoration: none;
    padding: .5em 1em;
    }