@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');


nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: #1f0e1f ;
    text-align: center;
  }

nav ul li a {
  display: block;
  padding: 10px 5px;
  margin: 5px;
  background: #6277bf;
  color: #000000 ;
}
nav {
    grid-area: navv;
    max-height: none;
  }

  li {
    list-style: none;
    padding: 1.5em;
    font-size: larger;
  }

  a:hover{
    color:rgb(247, 248, 248);
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

header, footer {
    text-align: center;
    font-family: 'Spicy Rice', serif;
}

header, main, aside{
    
    padding: 1em;
}

nav{
    border: 20px white solid;
    padding: 1em;
    font-size: 1.1em;
}

main{
    border: 20px white solid;
    font-family: 'Quicksand', sans-serif;
}

#side1{
    border: 20px white solid;
}

footer{
    padding: 1.25em;
}

h1 {
    font-weight: 800;
}

h2{
    font-weight: 600;
}

a{

    color:#000000;
    text-decoration: none;
}



p{
    margin: 1.2em 0;
    line-height: 1.6em;
}

.picofme{
    width: 50%;
    float: center;
    padding: 2% 4% 2% 0%;
}

hr{
    margin-bottom:1.2em;
    background-color:#cad3ed;
    height:3px;
}

.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    text-align: left !important;
    transform: translateY(-200%);
    transition: transform 0.3s; 
}

.skip-link:focus {
    transform: translateY(0%);
}


*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1.25fr 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "head1 head1 head1"
      "nav1 nav1 nav1"
      "side1 main1 main1"
      "side1 main1 main1"
      "side1 main1 main1"
      "foot1 foot1 foot1";
    align-items: center;
    justify-content: center;
  }

header {grid-area: head1; background:white;}
nav {grid-area: nav1; background:#6277bf}
main {grid-area: main1; background: #f7f7f7; max-height: 100%;}
#side1 {grid-area: side1; background: #Ffffff;}
footer {grid-area: foot1; background: white;}


    

.me{
    width: 1.25fr;
    float: left;
    padding: 1% 2% 1% 0%;
}
    
@media screen
    and (max-width: 640px) {
        .container {
            grid-template-columns:
             1fr; 
            grid-template-areas:
            "head"
            "para"
            "nav1"
            "foot";
        }
        .me {
            width: 1fr;
            float: center;
        }
        
        nav {
            max-height: none;
        }
    } 
    
    


.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }